body {
  padding: 20px;
  font-family: Arial, sans-serif;
}
ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px;
  text-align: center;
}
p {
  margin-left: 20px;
  font-size: 1.1em;
}
